
@model IEnumerable<AsdaPricingAdministrationTool.Models.Delivery_Status>



<h1 style="padding-top:1em;text-align:center;color:olivedrab">
    @*<input type="submit" value="Main Menu" class="btn btn-default Menu" onclick="location.href='@Url.Action("Index", "Home")'" /><span class=intro><u>Delivery Status</u></span>*@
    Delivery status
</h1>
<h3 style="text-align:center;color:olivedrab">

    @ViewBag.Data

</h3>

<body style="background-color:white;">
        <table class="table table-bordered" style="margin:auto;font-size:0.9em;width: 80%;height:60%">
            <thead>
                <tr>
                    <th style="width: 8em; border-color:olivedrab">
                        Step
                    </th>
                    <th style="width: 2.77em;border-color:olivedrab">
                        Status
                    </th>
                    <th style="width: 4.93em;border-color:olivedrab">
                        Date/Time
                    </th>
                    <th style="width: 28em;border-color:olivedrab">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.TaskStatus.ToUpper() == "COMPLETE" || item.TaskStatus.ToUpper() == "COMPLETED")
                    {
                        <tr>
                            <td style="width: 12em" >
                                @Html.DisplayFor(modelItem => item.TaskName)
                            </td>
                            <td style="width: 4em;background:#CDDC39">
                                @Html.DisplayFor(modelItem => item.TaskStatus)
                            </td>
                            <td style="width: 8em;">
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td style="width: 40em">
                                @Html.DisplayFor(modelItem => item.TaskNotes)
                            </td>
                        </tr>
                    }
                    else
                    { 
                        <tr>
                            <td style="width: 12em;">
                                @Html.DisplayFor(modelItem => item.TaskName)
                            </td>
                            <td style="width: 4em;">
                                @Html.DisplayFor(modelItem => item.TaskStatus)
                            </td>
                            <td style="width: 8em;">
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td style="width: 40em">
                                @Html.DisplayFor(modelItem => item.TaskNotes)
                            </td>
                        </tr>
                    }

                }
</table>
</body>


