
@model IEnumerable<AsdaPricingAdministrationTool.Models.Delivery_Status_History>



<h1 style="padding-top:1.1em;text-align:center;color:olivedrab">
    History
</h1>
<br>
<body style="background-color:white;height: 1000px;">
    <div>
        <table class="fixed_header table-bordered" style="margin:auto" >
            <thead>
                <tr style="width:100%;display:table-row">
                    <th   style="border-color:olivedrab">
                        Delivery
                    </th>
                    <th  style="border-color:olivedrab">
                        Step
                    </th>
                    <th  style="border-color:olivedrab">
                        Status
                    </th>
                    <th  style="border-color:olivedrab">
                        Date/Time
                    </th>
                    <th  style="border-color:olivedrab">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delivery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskNotes)
                        </td>
                    </tr>
                }
</table>
    </div>
</body>




