
@model IEnumerable<AsdaPricingAdministrationTool.Models.Delivery_Status_History>



<h1 style="padding-top:1.1em;text-align:center;color:olivedrab">
    History
</h1>
<br>
<body style="background-color:white;height: 1000px;">
    <div>
        <table class="table table-bordered" style="margin:auto;font-size:0.9em;width: 80%">
            <thead>
                <tr>
                    <th style="width:8.5em;border-color:olivedrab">
                        Delivery
                    </th>
                    <th style="width: 15em;border-color:olivedrab">
                        Step
                    </th>
                    <th style="width: 5.2em;border-color:olivedrab">
                        Status
                    </th>
                    <th style="width: 10.3em;border-color:olivedrab">
                        Date/Time
                    </th>
                    <th style="width: 34em;border-color:olivedrab">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 8.5em;">
                            @Html.DisplayFor(modelItem => item.Delivery)
                        </td>
                        <td style="width: 15em;">
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                        <td style="width: 5.2em;">
                            @Html.DisplayFor(modelItem => item.TaskStatus)
                        </td>
                        <td style="width:10em">
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td style="width:33em">
                            @Html.DisplayFor(modelItem => item.TaskNotes)
                        </td>
                    </tr>
                }
        </table>
    </div>
</body>




