
@model IEnumerable<AsdaPricingAdministrationTool.Models.Delivery_Status>



<h1 style="padding-top:1em;text-align:center;color:olivedrab">
    @*<input type="submit" value="Main Menu" class="btn btn-default Menu" onclick="location.href='@Url.Action("Index", "Home")'" /><span class=intro><u>Delivery Status</u></span>*@
    Delivery status
</h1>
<h3 style="text-align:center;color:olivedrab">

    @ViewBag.Data

</h3>

<body style="background-color:white;height: 1000px;">
        <table class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th style="width: 16.7em;">
                        Step
                    </th>
                    <th style="width: 6em;">
                        Status
                    </th>
                    <th style="width: 9em;">
                        Date/Time
                    </th>
                    <th style="width: 21em;">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
            <td colspan="4">
                <div>
                    <table class=" table table-bordered table-bordered">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 25em;">
                                    @Html.DisplayFor(modelItem => item.TaskName)
                                </td>
                                <td style="width: 9.3em;">
                                    @Html.DisplayFor(modelItem => item.TaskStatus)
                                </td>
                                <td style="width: 13.8em;">
                                    @Html.DisplayFor(modelItem => item.DateTime)
                                </td>
                                <td style="width: 30.5em">
                                    @Html.DisplayFor(modelItem => item.TaskNotes)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tbody>
    </table>
</body>


