@model dynamic

<h1 style="padding-top:1em;text-align:center;color:olivedrab;margin-bottom:0.5em">
    Validations & QC
</h1>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin-bottom:1em">
    <label for="Student">Report:</label>
    <select class="form-control" id="QCtype" name="QCType" style="width:250px" onclick="ChangeTable()">
        <option>Field Master QC</option>
        <option>Market Volumes QC</option>
        <option>NETVide Mapping Part 1 QC</option>
        <option>NETVide Mapping Part 2 QC</option>
    </select>
</div>
<script>
    function ChangeTable() {
        var dropvalue = document.getElementById('QCtype').value
        if (dropvalue == 'Field Master QC') {
            document.getElementById('FiledMasterTab').style.display = 'block'
            document.getElementById('MARKETVOLUMESTab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART1Tab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART2Tab').style.display = 'none'
        }
        else if (dropvalue == 'Market Volumes QC') {
            document.getElementById('FiledMasterTab').style.display = 'none'
            document.getElementById('MARKETVOLUMESTab').style.display = 'block'
            document.getElementById('NETVIDEMAPPINGPART1Tab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART2Tab').style.display = 'none'
        }
        else if (dropvalue == 'NETVide Mapping Part 1 QC') {
            document.getElementById('FiledMasterTab').style.display = 'none'
            document.getElementById('MARKETVOLUMESTab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART1Tab').style.display = 'block'
            document.getElementById('NETVIDEMAPPINGPART2Tab').style.display = 'none'
        }
        else {
            document.getElementById('FiledMasterTab').style.display = 'none'
            document.getElementById('MARKETVOLUMESTab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART1Tab').style.display = 'none'
            document.getElementById('NETVIDEMAPPINGPART2Tab').style.display = 'block'
        }
    }
</script>
<table id="FiledMasterTab" class="fixed_header_QCPage table-bordered" style="margin:auto;display:block">
    <thead>
        <tr style="width:100%;display:table-row">
            <th style="width:33.333%;border-color:olivedrab">Retailer</th>
            <th style="width:33.333%;border-color:olivedrab">IRI Week</th>
            <th style="width:33.333%;border-color:olivedrab">Valid Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FIELDMASTER FIELDMASTERData in Model.FIELDMASTERQC)
        {
            <tr>
                <td style="width:33.333%;">@FIELDMASTERData.Retailer</td>
                <td style="width:33.333%;">@FIELDMASTERData.IRIWeek</td>
                <td style="width:33.333%;">@FIELDMASTERData.ValidProducts</td>
            </tr>
        }
</table>
<table id="MARKETVOLUMESTab"class="fixed_header_QCPage table-bordered" style="margin:auto;display:none">
    <thead>
        <tr style="width:100%;display:table-row">
            <th  style="width:14.285%;border-color:olivedrab">Retailer</th>
            <th  style="width:14.285%;border-color:olivedrab">Collection Date</th>
            <th  style="width:14.285%;border-color:olivedrab">Market Volume</th>
            <th  style="width:14.285%;border-color:olivedrab">Market Volume Total</th>
            <th  style="width:14.285%;border-color:olivedrab">Count of Estimated Market Volume</th>
            <th  style="width:14.285%;border-color:olivedrab">Valid Products</th>
            <th  style="width:14.285%;border-color:olivedrab">Lions Share Fails</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MARKETVOLUMES MARKETVOLUMESData in Model.MARKETVOLUMESQC)
        {
        <tr>
            <td style="width:14.285%;">@MARKETVOLUMESData.Retailer</td>
            @*<td style="width:14.285%;">@MARKETVOLUMESData.CollectionDate</td>*@
            <td style="width:14.285%;">
                @Html.DisplayFor(modelItem => MARKETVOLUMESData.CollectionDate)
            </td>
            <td style="width:14.285%;">@MARKETVOLUMESData.MarketVolume</td>
            <td style="width:14.285%;">@MARKETVOLUMESData.MarketVolumeTotal</td>
            <td style="width:14.285%;">@MARKETVOLUMESData.CountofEstimatedMarketVolume</td>
            <td style="width:14.285%;">@MARKETVOLUMESData.ValidProducts</td>
            <td style="width:14.285%;">@MARKETVOLUMESData.LionsShareFails</td>

        </tr>
        }
</table>
<table id="NETVIDEMAPPINGPART1Tab" class="fixed_header_QCPage table-bordered" style="margin:auto;display:none">
    <thead>
        <tr style="width:100%;display:table-row">
            <th style="width: 25%; border-color:olivedrab">Retailer</th>
            <th style="width: 25%; border-color:olivedrab">Batch ID</th>
            <th style="width: 25%; border-color:olivedrab">File Name</th>
            <th style="width: 25%; border-color:olivedrab">Valid Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NETVIDEMAPPINGPART1 NETVIDEMAPPINGPART1Data in Model.NETVIDEMAPPINGPART1QC)
        {
            <tr>
                <td  style="width: 25%;">@NETVIDEMAPPINGPART1Data.Retailer</td>
                <td  style="width: 25%;">@NETVIDEMAPPINGPART1Data.BatchID</td>
                <td  style="width: 25%;">@NETVIDEMAPPINGPART1Data.FileName</td>
                <td  style="width: 25%;">@NETVIDEMAPPINGPART1Data.ValidProducts</td>
            </tr>
        }

</table>
<table id="NETVIDEMAPPINGPART2Tab" class="fixed_header_QCPage table-bordered" style="margin:auto;display:none">
    <thead>
        <tr style="width:100%;display:table-row">
            <th style="width:25%;border-color:olivedrab">Retailer</th>
            <th style="width:25%;border-color:olivedrab">Batch ID</th>
            <th style="width:25%;border-color:olivedrab">Collection Date</th>
            <th style="width:25%;border-color:olivedrab">Valid Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NETVIDEMAPPINGPART2 NETVIDEMAPPINGPART2Data in Model.GETNETVIDEMAPPINGPART2QC)
        {
        <tr>
            <td style="width:25%;">@NETVIDEMAPPINGPART2Data.Retailer</td>
            <td style="width:25%;">@NETVIDEMAPPINGPART2Data.BatchID</td>
            @*<td style="width:25%;">@NETVIDEMAPPINGPART2Data.CollectionDate</td>*@
            <td style="width:25%;">
                @Html.DisplayFor(modelItem => NETVIDEMAPPINGPART2Data.CollectionDate)
            </td>
            <td style="width:25%;">@NETVIDEMAPPINGPART2Data.ValidProducts</td>
        </tr>
        }
</table>

