@model IEnumerable<AsdaPricingAdministrationTool.Models.Parameters>



<h1 style="padding-top:1em;text-align:center;color:olivedrab">
    @*<input type="submit" value="Main Menu" class="btn btn-default Menu" onclick="location.href='@Url.Action("Index", "Home")'" /><span class=intro><u>Delivery Status</u></span>*@
    Settings
</h1>

<body style="background-color:white;height: 1000px;padding-top:1.8em">
    <br>
    <table class="fixed_header table table-bordered" style="margin:auto;">
        <thead>
            <tr style="width:100%;display:table-row">
                <th style="border-color:olivedrab">
                    Name
                </th>
                <th style="border-color:olivedrab">
                    Value
                <th style="border-color:olivedrab">
                    Description
                </th>
                <th style="border-color:olivedrab">
                    Date/Time
                </th>
                <th style="border-color:olivedrab">Action</th>
            </tr>
        </thead>
        <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="ParamName">
                                <span id="paramname1">@item.ParamName</span>
                            </td>
                            <td class="value">
                                <span id="@item.PID+1" value="@item.ParamValue">@item.ParamValue</span>
                                <input type="text" value="@item.ParamValue" id="@item.PID+2" style="display:none;width:100%;height:2.5em" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParamDesc)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.DateTime)
                           </td>
                           <td>
                               <a onclick="ChangeView('@item.PID')" id="@item.PID+edit" style="cursor:pointer">Edit</a>
                            @* <a onclick="location.href='@Url.Action("Settings", "DeliveryStatus", new {Paramval=item.ParamValue,id =item.PID ,update=0}),ChangeView(),'">Edit</a>*@
                                <a onclick="saveview(@item.PID)" style="display:none;cursor:pointer" id="@item.PID+save">Save</a>
                                <a onclick="cancelview()" style="display:none;cursor:pointer" id="@item.PID+cancel">Cancel</a>
                            </td>
                        </tr>
                    }
        </tbody>
    </table>
</body>
    <script type="text/javascript">
        var value1 = '', value2 = '', valueedit = '', valuesave = '', valuecancel = '';
        function ChangeView(PID) {
            value1 = PID + '+1';
            value2 = PID + '+2';
            valueedit = PID + '+edit'
            valuesave = PID + '+save'
            valuecancel = PID + '+cancel'
            document.getElementById(value2).style.display = 'block'
            document.getElementById(value1).style.display = 'none'
            var rem = document.querySelectorAll("[id*='edit']"), i = 0;
            for (; i < rem.length; i++)
                rem[i].parentNode.removeChild(rem[i]);
            document.getElementById(valuesave).style.display = 'block'
            document.getElementById(valuecancel).style.display = 'block'

        }
        function saveview(PID) {
            placeholder = document.getElementById(value2).value;
            console.log(placeholder);
            console.log(PID);
            // https://localhost:44363/Settings?Paramval=0&id=1&update=1
            window.location.href = 'https://localhost:44363/Settings'
            window.location.href = `${window.location.href}?Paramval=${placeholder}&id=${PID}&update=1`;
            console.log(window.location.href);
            //   l
            document.getElementById(value2).style.display = 'none'
            document.getElementById(value1).style.display = 'block'
            document.getElementById(valuesave).style.display = 'none'
            document.getElementById(valuecancel).style.display = 'none'
            document.getElementById(valueedit).style.display = 'block'
        }
        function cancelview() {
            window.location.href = window.location.href;
        }
    </script>
